In [9]:
password="2024"
attempts=8
while attempts>0:
    user_input=input("enter password:")
    if user_input==password:
        print("access granted")
        break
    else:
        attempts-=1
        print(f"wrong password! {attempts} attempts left.")

enter password: 2023

wrong password! 7 attempts left.

enter password: 4566

wrong password! 6 attempts left.

enter password: 6789

wrong password! 5 attempts left.

enter password: 2024

access granted

In [10]:
number = int(input("Enter any positive integer: "))
if number % 3 == 0 and number % 7 == 0:
    print(f"Given number {number} is divisible by both 3 and 7.")
else:
    print(f"Given number {number} is NOT divisible by both 3 and 7.")

Enter any positive integer:  34

Given number 34 is NOT divisible by both 3 and 7.

In [12]:
num=int(input("enter the no."))
for i in range(1, 101):
    if i % 2 == 0: 
        print(i)

enter the no. 56

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [13]:
for i in range(1, 101):
    if i % 2 == 0: 
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [16]:
num1=int(input("Enter the first number: "))
num2=int(input("Enter the second number: "))
num3=int(input("Enter the third number: "))
if num1>=num2:
    print("num2 is greater")
elif num2>num3:
    print("num2 is greater")
else:
    print("num3 is greater")

Enter the first number:  3
Enter the second number:  4
Enter the third number:  5

num3 is greater

In [ ]:
i=50
while i>0

In [ ]:
num=int(input("enter a number:"))
i=1
while i<=10:
    print(f"{num}x{i}={num*i}")
    i+=1

In [ ]:
year=int(input("enter a year:"))
if (year%4==0):
    print(f"{year} is a leap year.")
else:
    print(f"{year}is not a leap year")

In [2]:
num=int(input("enter a number:"))
fact=1
for i in range(1,num+1):
    fact=fact*i
    print("factoruial is ",fact)

enter a number: 5

factoruial is  1
factoruial is  2
factoruial is  6
factoruial is  24
factoruial is  120

In [3]:
num=int(input("enter a number:"))
if num>0:
    print("the number is positive.")
elif num<0:
    print("the number is negative.")
else:
    print("the number is zero.")

enter a number: 6

the number is positive.

In [4]:
num = int(input("Enter a number: "))
if num % 2 == 0 and num > 10:
    print(f"{num} is even and greater than 10.")
else:
    print(f"{num} does not meet the criteria.")

Enter a number:  5

5 does not meet the criteria.

In [5]:
for num in range(1, 51):
    if num % 3 != 0:
        print(num)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50

In [6]:
num = int(input("Enter a number: "))
num = abs(num)
digit_count = 0
while num > 0:
    num //= 10
    digit_count += 1
if digit_count == 0:
    digit_count = 1
print(f"The number of digits is: {digit_count}")

Enter a number:  4

The number of digits is: 1

In [7]:
num = int(input("Enter a number: "))
num = int(input("Enter a number: "))

# Initialize a variable to store the reversed number
reversed_num = 0

# Use a while loop to reverse the number
while num != 0:
    # Get the last digit of the number
    digit = num % 10
    # Add the digit to the reversed number
    reversed_num = reversed_num * 10 + digit
    # Remove the last digit from the number
    num //= 10

# Output: Print the reversed number
print(f"Reversed Number: {reversed_num}")alize a variable to store the reversed number
reversed_num = 0
while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10
print(f"Reversed Number: {reversed_num}")

Enter a number:  3

Reversed Number: 3

In [8]:
for i in range(1, 6):
    number = float(input(f"Enter number {i}: "))
    total_sum += number
average = total_sum / 5
print(f"Sum of the numbers: {total_sum}")
print(f"Average of the numbers: {average}")

Enter number 1:  3

NameError: name 'total_sum' is not defined

In [10]:
def check_character(ch):
    ch = ch.lower()
    if ch in 'aeiou':
        return f"{ch.upper()} is a vowel."
    elif ch.isalpha():
        return f"{ch.upper()} is a consonant."
    else:
        return "Invalid input! Please enter a single alphabetic character."
char = input("Enter a character: ")

# Ensure the input is a single character
if len(char) == 1:
    print(check_character(char))
else:
    print("Invalid input! Please enter a single character.")

Enter a character:  gt

Invalid input! Please enter a single character.

In [9]:
a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))
print(f"Before swapping: a = {a}, b = {b}")
a, b = b, a
print(f"After swapping: a = {a}, b = {b}")

Enter the first number:  5
Enter the second number:  6

Before swapping: a = 5.0, b = 6.0
After swapping: a = 6.0, b = 5.0

In [2]:
a=3
b=5
def sum():
    print(a+b)
sum()

8

In [3]:
def sum(a,b):
    print(a+b)
sum(4,5)

9

In [4]:
#required arguments

In [6]:
def add(a,b):
    print(a+b)
add(10,30)
add(10)

40

TypeError: add() missing 1 required positional argument: 'b'

In [17]:
def even():
    for i in range (1,16):
     print(i*2)
print("even natural number")
even()

even natural number
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [20]:
#keyword arguments
def student(name, age):
    print(name, "is", age, "years old")
student(age=21, name="aayush")

aayush is 21 years old

In [21]:
#variable length argumentd multi positional

In [30]:
def total_marks(*marks):
    print("all marks:", marks)
    print("total:", sum(marks))
total_marks(40,50,60,70)

all marks: (40, 50, 60, 70)
total: 220

In [26]:
#default arguments

In [31]:
def square(n):
    return n * n
    print(square(5))
print(square(2.5))

6.25

In [32]:
def add(a, b):
    return a + b

x = float(input("First number: "))
y = float(input("Second number: "))
print("Sum is:", add(x, y))

First number:  3
Second number:  4

Sum is: 7.0

In [36]:
def is_even(n):
    return n % 2 == 0

In [37]:
def is_palindrome(s):
    i, j = 0, len(s) - 1
    while i < j:
        if s[i] != s[j]:
            return False
        i += 1
        j -= 1
    return True

In [38]:
def is_palindrome(s):
    return s == s[::-1]
    print(is_palindrome("radar"))  
print(is_palindrome("hello")) 
print(is_palindrome("racecar"))

False
True

In [39]:
def add(*args):
    return sum(args)
    print(add(1, 2, 3))       
print(add(10, 20, 30, 40))
print(add(5))

100
5

In [42]:
def even(n):
    if n % 2 == 0:
        return True
    else:
        return False
even(4)

True

In [44]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
        print(factorial(5)) 
print(factorial(6))

720

In [48]:
def find_largest(numbers):
    return max(numbers)
numbers = [10, 24, 76, 23, 12]
print(find_largest(numbers))

76

In [50]:
def reverse_string(s):
    return s[::-1]
original = "Hello, World!"
reversed_str = reverse_string(original)
print(reversed_str)

!dlroW ,olleH

In [52]:
def fibonacci(n):
    fib_series = []
    a, b = 0, 1
    for _ in range(n):
        fib_series.append(a)
        a, b = b, a + b
    return fib_series
n = 7
print(fibonacci(n))

[0, 1, 1, 2, 3, 5, 8]

In [54]:
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in s if char in vowels)
input_string = "Hello, World!"
print(count_vowels(input_string))

3

In [1]:
numbers = []
for i in range(5):
    num = int(input(f"Enter number {i + 1}: "))
    numbers.append(num)
print("The final list is:", numbers)

Enter number 1:  6
Enter number 2:  4
Enter number 3:  8
Enter number 4:  2
Enter number 5:  10

The final list is: [6, 4, 8, 2, 10]

In [2]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [3]:
l = [10, 20, 30, 40]
l.insert(2, 25)
print(l)

[10, 20, 25, 30, 40]

In [4]:
l = [10, 20, 30, 20, 40]
l.remove(20)
print(l)

[10, 30, 20, 40]

In [5]:
lst = [1, 2, 3, 4, 5]
popped_item = lst.pop()
print("Popped item:", popped_item)
print("Updated list:", lst)

Popped item: 5
Updated list: [1, 2, 3, 4]

In [6]:
lst = [5, 10, 15, 20, 25]
index_15 = lst.index(15)
print("Index of 15:", index_15)

Index of 15: 2

In [7]:
lst = [1, 2, 2, 3, 2, 4, 2]
count_2 = lst.count(2)
print("Number 2 appears", count_2, "times.")

Number 2 appears 4 times.

In [8]:
lst = [10, 5, 7, 3]
lst.sort()
print("Ascending order:", lst)
lst.sort(reverse=True)
print("Descending order:", lst)

Ascending order: [3, 5, 7, 10]
Descending order: [10, 7, 5, 3]

In [9]:
lst = [1, 2, 3, 4, 5]
lst.reverse()
print(lst)

[5, 4, 3, 2, 1]